@model IEnumerable<APPTienda.Models.Articulo>
@{
    ViewData["Title"] = "Categorías de productos de la tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-4">
        <h3>Lista de Artículos</h3>
    </div>
    <div class="col-3">
        <a asp-action="Crear" class="btn btn-primary form-control">Crear Artículo</a>
    </div>
</div>

<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">

            <tr>
                <th>sku</th>
                <th>NombreProducto</th>
                <th>NumMaterial</th>
                <th>Categoría</th>
                <th>Inventario</th>
            </tr>
            @foreach (var articulo in Model)
            {
                <tr>
                    <td>@articulo.Sku</td>
                    <td>@articulo.NombreProducto</td>
                    <td>@articulo.NumMaterial</td>
                    <td>@articulo.Categoria</td>
                    <td>@articulo.Inventario</td>
                    <td>
                        <a class="btn btn-primary txt-white" asp-action="Editar" asp-route-Id="@articulo.Sku">Editar</a>
                        <a class="btn btn-primary txt-white" asp-action="Borrar" asp-route-Id="@articulo.Sku">Borrar</a>
                    </td>
                </tr>
            }

        </table>
        <h2>Obtener por Categorías</h2><br />
        <a href="http://localhost:5133/Articulo/VerPorCategoria/?id=1">filtrar por categoría tecnología</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorCategoria/?id=2">filtrar por categoría farmacia</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorCategoria/?id=3">filtrar por categoría hogar</a>
        <h2>Obtener por SubCategorías</h2>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorSubCategoria/?catId=1&subId=1">filtrar por subCategoría Computación</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorSubCategoria/?catId=1&subId=2">filtrar por subcategoría telefonía</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorSubCategoria/?catId=2&subId=1">filtrar por subcategoría medicamentos</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorSubCategoria/?catId=3&subId=1">filtrar por subcategoría baño</a>
        <br />
        <h2>Obtener por inventario</h2><br />
        <a href="http://localhost:5133/Articulo/VerPorInventario/?inventario=0">Sin elementos en el stock</a>
        <br />
        <a href="http://localhost:5133/Articulo/VerPorInventarioIntervalo/?x=2&y=5">Obtener artículos cuyo inventario se encuentra entre 5 y 2</a>
    }
    else
    {
        <p>No Hay Artículos</p>
    }
</div>